<h1>Sign In</h1>
<form action="<%= session_url %>" method="post">
  <div class="profile-login"></div>
  <%= authenticate_action %>
 <input class="username" name="user[username]" type="text" ><br>
  <input class="password" name="user[password]" type="password"><br>
  <input type="submit" value="Submit"><br>
</form>
</div>
<br>
